{% extends "layout.html" %}
{% block body %}

<div id="sidebar" class="large-3 columns">
  <h1>Sidebar</h1>
</div>

<div id="main-content" class="large-9 columns">
  <h1>Mainstuff</h1>
  <div class="row">
    <div id="movies" class="box large-4 columns">
      Movies
    </div>
    <div id="tv" class="box large-4 columns">
      TV
    </div>
    <div id="submit" class="box large-4 columns">
      Submit
    </div>
  </div>
  <div id="results-container" class="row">
  </div>
  
</div>

{% endblock %}